<h1>Test form</h1>
  {{#form}}
    <h2> this is the form </h2>
    {{labeled-text-field "firstName" "First Name"}}
    {{labeled-text-field "lastName" "Last Name"}}
    Some stuff and then. {{submit-button 'btn' 'Next'}}
  {{/form}}

<p> Bla Bla footer...</p>
